---
title:
call_to_action: Contact
background_image_path:
large_header: true
testimonials:
  - message: Thanks to BIMAntiqs, we delivered the project on time and within budget. The precision and collaboration were game-changing.
    image: <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/6K_K10 Index Left Side Top View_b.png" sizes="192x192">
    name: K10 Team
  - message: Working with BIMAntiqs was an outstanding experience! They delivered my residential project on time and within budget without compromising on quality. The attention to detail, professionalism, and seamless collaboration throughout the process exceeded my expectations. I couldn’t have asked for a better partner for my project!
    image: "https://www.fillmurray.com/60/60?a=.png"
    name: Vaibhav Thakore
_options:
  image:
    width: 60
    height: 60
---

<div class="editable">
	<p>At <strong>BIMAntiqs</strong> we are dedicated to revolutionizing the construction industry with cutting-edge BIM technology.</p>

	<p>Our mission is to enhance project efficiency, accuracy, and collaboration through innovative solutions.</p>
</div>

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
