<div class="staff-details">
	<div class="staff-image">
		<img src="https://r-madhav.github.io/BIMAntiqs.github.io/images/Madhav.JPG" alt="Staff photo for {{ include.member.name }}" width="120" height="120">
	</div>
	<ul class="staff-info">
		<li><strong style="font-size: 24px;">Madhav Ribinwala</Strong></li>
		<li style="color: #999999;">Founder at BIMAntiqs</li>
		<li>BIM Specialist, Civil Engineer</li>
		<li><a href="tel:{{ site.data.company.phone }}">{{ site.data.company.phone }}</a></li>
		<li>madhavribinwala.mr@gmail.com</li>
	</ul>
</div>

<div class="staff-bio">
	<p>{{ include.member.content | markdownify }}</p>
</div>
